[Desktop Entry]
Type=Application
Name=Phone
GenericName=Phone
Comment=Raspberry Pi phone application to accept and make calls
Exec=/home/pi/phone/ui.py
Icon=phone-coolname
Terminal=false
Categories=Telephony, Chat
Keywords=calling;phone;communication
